# Análise de Vendas da SuperStore

### Importação das bibliotecas e Dataset

In [1]:
# Importação das bibliotecas
import pandas as pd
import numpy as np

# importação dos dados
df_superstore = pd.read_csv('./data/sample_superstore.csv', encoding='windows-1252')
df_superstore.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

### Validação e Limpeza dos Dados

In [2]:
# Verificando o formato do dataset (quantidade de linhas e colunas)
df_superstore.shape

(9994, 21)

In [3]:
# Verificando as colunas existentes
df_superstore.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [4]:
# Verificando se há dados nulos
df_superstore.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [5]:
# Verificando se há dados em branco
df_superstore.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [6]:
# Verificando se há dados duplicados
df_superstore.duplicated().sum()

0

É possível observar que os dados possuem uma coluna 'Order ID' que é utilizada para identificar as operações, sendo assim, a coluna 'Row ID' é desnecessária e pode ocultar transações duplicadas.

In [7]:
# removendo coluna 'Row ID'
df_superstore = df_superstore.drop(columns='Row ID')
df_superstore.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [8]:
df_superstore.shape

(9994, 20)

In [9]:
# Verificando novamente se há dados duplicados
(df_superstore[df_superstore.duplicated(keep=False)] == True)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3405,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3406,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
# Validando se os dados estão mesmo duplicados
df_superstore.iloc[[3405, 3406]]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3405,US-2014-150119,4/23/2014,4/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588
3406,US-2014-150119,4/23/2014,4/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588

In [11]:
# removendo os dados duplicados
df_superstore.drop_duplicates(inplace = True)
df_superstore.shape

(9993, 20)

In [ ]:
# exportando dados limpos em um arquivo .csv para primeira análise no Power BI
df_superstore.to_csv('./data/clean_dataset.csv')

#visualizando os dados para validar a importação no Power BI
df_superstore.head(15)

### Análise Exploratória

In [12]:
# Um indicador importante para este cenário é a margem de lucro
df_superstore['Profit Margin %'] = (df_superstore.Profit / df_superstore.Sales) 
df_superstore.head(2)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Profit Margin %
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,0.16
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,0.30

In [13]:
# Analisando os dados
# Quantidade de países para onde a SuperStore realiza vendas
df_superstore['Country'].drop_duplicates().count() # 1 país -> EUA

# Quantidade de cidades
df_superstore['City'].drop_duplicates().count() # 531 cidades

# Quantidade de clientes 
df_superstore['Customer ID'].drop_duplicates().count() # 793 clientes

# Segmentos de clientes
df_superstore['Segment'].drop_duplicates().count() # 3 segmentos

# Modalidades de envio
df_superstore['Ship Mode'].drop_duplicates().count() # 4 modalidades

4

In [15]:
df_superstore.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit', 'Profit Margin %'],
      dtype='object')

In [18]:
# removendo colunas que não utilizarei no Power BI
df_superstore = df_superstore.drop(columns=['Ship Date', 'Ship Mode', 'Customer Name', 'Country', 'Postal Code', 'Region','Product Name'])

# exportando os dados em um arquivo .csv para análise no Power BI
df_superstore.to_csv('./data/clean_dataset.csv', encoding='utf-8')

#visualizando os dados para validar a importação no Power BI
df_superstore.head(15)

,Order ID,Order Date,Customer ID,Segment,City,State,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit,Profit Margin %
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Henderson,Kentucky,FUR-BO-10001798,Furniture,Bookcases,261.9600,2,0.00,41.9136,0.1600
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Henderson,Kentucky,FUR-CH-10000454,Furniture,Chairs,731.9400,3,0.00,219.5820,0.3000
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Los Angeles,California,OFF-LA-10000240,Office Supplies,Labels,14.6200,2,0.00,6.8714,0.4700
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Fort Lauderdale,Florida,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-383.0310,-0.4000
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Fort Lauderdale,Florida,OFF-ST-10000760,Office Supplies,Storage,22.3680,2,0.20,2.5164,0.1125
5,CA-2014-115812,6/9/2014,BH-11710,Consumer,Los Angeles,California,FUR-FU-10001487,Furniture,Furnishings,48.8600,7,0.00,14.1694,0.2900
6,CA-2014-115812,6/9/2014,BH-11710,Consumer,Los Angeles,California,OFF-AR-10002833,Office Supplies,Art,7.2800,4,0.00,1.9656,0.2700
7,CA-2014-115812,6/9/2014,BH-11710,Consumer,Los Angeles,California,TEC-PH-10002275,Technology,Phones,907.1520,6,0.20,90.7152,0.1000
8,CA-2014-115812,6/9/2014,BH-11710,Consumer,Los Angeles,California,OFF-BI-10003910,Office Supplies,Binders,18.5040,3,0.20,5.7825,0.3125
9,CA-2014-115812,6/9/2014,BH-11710,Consumer,Los Angeles,California,OFF-AP-10002892,Office Supplies,Appliances,114.9000,5,0.00,34.4700,0.3000
10,CA-2014-115812,6/9/2014,BH-11710,Consumer,Los Angeles,California,FUR-TA-10001539,Furniture,Tables,1706.1840,9,0.20,85.3092,0.0500
11,CA-2014-115812,6/9/2014,BH-11710,Consumer,Los Angeles,California,TEC-PH-10002033,Technology,Phones,911.4240,4,0.20,68.3568,0.0750
12,CA-2017-114412,4/15/2017,AA-10480,Consumer,Concord,North Carolina,OFF-PA-10002365,Office Supplies,Paper,15.5520,3,0.20,5.4432,0.3500
13,CA-2016-161389,12/5/2016,IM-15070,Consumer,Seattle,Washington,OFF-BI-10003656,Office Supplies,Binders,407.9760,3,0.20,132.5922,0.3250
14,US-2015-118983,11/22/2015,HP-14815,Home Office,Fort Worth,Texas,OFF-AP-10002311,Office Supplies,Appliances,68.8100,5,0.80,-123.8580,-1.8000

### Classificação RFM

In [2]:
# Importação de bibliotecas
from datetime import datetime
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
df_superstore = pd.read_csv('./data/clean_dataset.csv')

In [4]:
df_superstore['Order Date'] = pd.to_datetime(df_superstore['Order Date'])
today = datetime.strptime('2022-08-07', '%Y-%m-%d')
today

datetime.datetime(2022, 8, 7, 0, 0)

In [5]:
agg_dict1 = {
    'Order ID' : 'count',
    'Order Date' : 'max',
    'Sales' : 'sum'
}

df_rfm = df_superstore.groupby('Customer ID').agg(agg_dict1).reset_index()
df_rfm.columns = ['Customer ID','frequency','max_date', 'monetary']
df_rfm['recency'] = (today - df_rfm['max_date']).dt.days
df_rfm.drop(['max_date'], axis=1, inplace=True)

In [6]:
# RFM utilizando quantiles
r_labels, f_labels, m_labels = range(5, 0, -1), range(1,6), range(1,6)

df_rfm['r_score'] = pd.qcut(df_rfm['recency'], q=5, labels=r_labels).astype(int)
df_rfm['f_score'] = pd.qcut(df_rfm['frequency'], q=5, labels=f_labels).astype(int)
df_rfm['m_score'] = pd.qcut(df_rfm['monetary'], q=5, labels=m_labels).astype(int)

df_rfm['rfm_sum'] = df_rfm['r_score'] + df_rfm['f_score'] + df_rfm['m_score']

In [7]:
def assign_label(df, r_rule, fm_rule, label, colname='rfm_label'):
    df.loc[(df['r_score'].between(r_rule[0], r_rule[1]))
            & (df['f_score'].between(fm_rule[0], fm_rule[1]))
            #& (df['m_score'].between(fm_rule[0], fm_rule[1]))
            , colname] = label
    return df

In [8]:
df_rfm['rfm_label'] = ''

df_rfm = assign_label(df_rfm, (5,5), (4,5), 'campeões')
df_rfm = assign_label(df_rfm, (3,4), (4,5), 'clientes leais')
df_rfm = assign_label(df_rfm, (4,5), (2,3), 'potenciais leais')
df_rfm = assign_label(df_rfm, (5,5), (1,1), 'novos clientes')
df_rfm = assign_label(df_rfm, (4,4), (1,1), 'promissores')
df_rfm = assign_label(df_rfm, (3,3), (3,3), 'precisam de atenção')
df_rfm = assign_label(df_rfm, (3,3), (1,2), 'quase dormentes')
df_rfm = assign_label(df_rfm, (1,2), (3,4), 'em risco')
df_rfm = assign_label(df_rfm, (1,2), (5,5), 'não podemos perdê-los')
df_rfm = assign_label(df_rfm, (1,2), (1,2), 'dormentes')

In [9]:
df_rfm

,Customer ID,frequency,monetary,recency,r_score,f_score,m_score,rfm_sum,rfm_label
0,AA-10315,11,"5,563.56",1865,2,3,5,10,em risco
1,AA-10375,15,"1,056.39",1700,5,4,2,11,campeões
2,AA-10480,12,"1,790.51",1940,1,3,3,7,em risco
3,AA-10645,18,"5,086.93",1736,3,4,5,12,clientes leais
4,AB-10015,6,886.16,2096,1,1,1,3,dormentes
...,...,...,...,...,...,...,...,...,...
788,XP-21865,28,"2,374.66",1724,4,5,3,12,clientes leais
789,YC-21895,8,"5,454.35",1685,5,2,5,12,potenciais leais
790,YS-21880,12,"6,720.44",1690,5,3,5,13,potenciais leais
791,ZC-21910,31,"8,025.71",1735,3,5,5,13,clientes leais
792,ZD-21925,9,"1,493.94",1883,2,2,2,6,dormentes

In [ ]:
# exportando para csv para utilizar no Power BI
df_rfm.to_csv('./data/rfm_dataset.csv',encoding='utf-8')
df_rfm.head(15)